body{
margin:0;
padding:0;
background:#0f172a;
font-family:Arial;
color:white;
}

.container{
width:90%;
max-width:700px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
margin-bottom:25px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
margin-bottom:20px;
}

input,
select{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:15px;
border:none;
border-radius:10px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

#gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
margin-top:20px;
}

.image-box{
background:#1e293b;
padding:10px;
border-radius:15px;
}

.image-box img{
width:100%;
border-radius:10px;
}

.folder-name{
font-size:12px;
color:#94a3b8;
margin-top:8px;
}
